<body class="bg">
  <div class="jumbotron jumbotron-fluid animated fadeIn faster">
    <br>
    <br>
    <div class="container animated fadeIn text-white">
      <h1 class="display-2 text-center">Trabajo Práctico Integrador</h1>
      <hr class="linea">
      <h1 class="display-4">Materia: Administración de Base de Datos</h1>
      <h1 class="display-4">Docente: Diego, Serrano</h1>
      <hr class="linea">
      <h2 class="display-4">Integrantes: </h2>
      <br>
      <h4 class="display-6">° Henn, Luciano</h4>
      <h4 class="display-6">° Hidalgo, Valentin</h4>
      <h4 class="display-6">° Sosa, Leonardo </h4>
    </div>
    <br>
  </div>
</body>